# To use dev env ini file.
# cp .env.dev.sample .env
DEBUG=True
SECRET_KEY=secret
LOG_LEVEL=INFO

# Postgres
POSTGRES_DB=anemperfeina
POSTGRES_USER=anemperfeina
POSTGRES_PASSWORD=s3cret
POSTGRES_HOST=db
POSTGRES_PORT=5432