aniso8601==9.0.1
appdirs==1.4.4
asgiref==3.8.1
black==24.10.0
Brotli==1.1.0
CacheControl==0.14.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contextlib2==21.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==43.0.1
cssselect2==0.7.0
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
Django==5.1.2
django-braces==1.16.0
django-cors-headers==4.4.0
django-elasticsearch-dsl==8.0
django-environ==0.11.2
django-extensions==3.2.3
django-graphql-jwt==0.4.0
django-oauth-toolkit==3.0.1
django-prometheus==2.3.1
django-rest-framework-social-oauth2==1.2.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
elastic-transport==8.15.1
elasticsearch==8.15.1
elasticsearch-dsl==8.15.4
factory_boy==3.3.3
Faker==37.1.0
filelock==3.16.1
fonttools==4.54.1
graphene==3.3
graphene-django==3.2.2
graphene-file-upload==1.3.0
graphql-core==3.2.4
graphql-relay==3.2.0
gunicorn==23.0.0
html5lib==1.1
identify==2.6.1
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
ipaddr==2.2.0
isort==5.13.2
itypes==1.2.0
Jinja2==3.1.4
jwcrypto==1.5.6
lockfile==0.12.2
MarkupSafe==3.0.1
msgpack==1.1.0
mypy-extensions==1.0.0
nodeenv==1.9.1
oauthlib==3.2.2
openapi-codec==1.3.2
packaging==24.1
pathspec==0.12.1
pep517==0.13.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pre_commit==4.0.1
progress==1.6
prometheus_client==0.21.0
promise==2.3
psycopg2-binary==2.9.9
pur==7.3.2
pycparser==2.22
pydyf==0.11.0
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.1.4
pyphen==0.15.0
pytest==8.3.5
pytest-django==4.10.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytoml==0.1.21
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
retrying==1.3.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
Rx==3.2.0
simplejson==3.19.3
singledispatch==4.1.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
text-unidecode==1.3
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
typed-ast==1.5.5
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.2.3
virtualenv==20.26.6
weasyprint==63.0
webencodings==0.5.1
whitenoise==6.7.0
zopfli==0.2.3.post1
