{% extends 'base.html' %}

{% load static %}

{% block title %}
    My resumes
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <h1>Your Resumes</h1>
                <a href="{% url 'resume_cv:templates' %}" class="btn btn-primary">Create New Resume</a>
            </div>
        </div>
        <div class="row">
            {% for resume in resumes %}
                <div class="col-md-4 mb-2">
                    <div class="card">
                        <img src="https://images.pexels.com/photos/590044/pexels-photo-590044.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ resume.name }}</h5>
                            <a href="{% url 'resume_cv:builder' resume.code %}" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}