name: job-portal

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # install testing dev libraries
          pip install -r requirements-test.txt
      - name: Run source code analysis and code format
        run: |
          pre-commit run --all
      - name: Run checks
        run: |
          python checks.py --since origin/master --typing
